# Energi Data

The energy data for this project has been collected by using the API from [Energidataservice.dk](https://www.energidataservice.dk/). The exact dataset in question can be found [here](https://www.energidataservice.dk/tso-electricity/ProductionConsumptionSettlement). or downloaded from the github reposatory

In [10]:
import pandas as pd
# Indlæsning af data
Data = pd.read_csv("C:/Users/madsh/OneDrive/Dokumenter/kandidat/Fællesmappe/Speciale/Data/Data fra energidataservice.dk/Production and Consumption - Settlement.csv")

# Vælg kun nødvendige kolonner og kopier DataFrame
Forbrug_og_temp = Data.copy()

# Konverter 'HourDK' til datetime format og sæt som index
Forbrug_og_temp['HourDK'] = pd.to_datetime(Forbrug_og_temp['HourDK'])
Forbrug_og_temp.set_index('HourDK', inplace=True)

Forbrug_og_temp

,HourUTC,PriceArea,CentralPowerMWh,LocalPowerMWh,CommercialPowerMWh,LocalPowerSelfConMWh,OffshoreWindLt100MW_MWh,OffshoreWindGe100MW_MWh,OnshoreWindLt50kW_MWh,OnshoreWindGe50kW_MWh,...,ExchangeNO_MWh,ExchangeSE_MWh,ExchangeGE_MWh,ExchangeNL_MWh,ExchangeGreatBelt_MWh,GrossConsumptionMWh,GridLossTransmissionMWh,GridLossInterconnectorsMWh,GridLossDistributionMWh,PowerToHeatMWh
HourDK,,,,,,,,,,,,,,,,,,,,,
2005-03-25 23:00:00,2005-03-25T22:00:00,DK1,917.400024,760.206787,NaN,0.000000,4.857113,0.000000,0.022235,54.899296,...,496.000000,-97.099998,-297.700012,0.00,0.0,1842.515015,0.000000,NaN,NaN,0.000000
2005-03-25 23:00:00,2005-03-25T22:00:00,DK2,920.900024,271.390656,NaN,0.000000,3.329244,2.978000,0.006352,51.833755,...,NaN,386.600006,-251.000000,NaN,0.0,1386.037964,0.000000,NaN,NaN,0.000000
2005-03-25 22:00:00,2005-03-25T21:00:00,DK1,1079.099976,772.546753,NaN,0.000000,4.533219,0.000000,0.015721,42.169018,...,808.599976,169.699997,-870.299988,0.00,0.0,2010.311157,0.000000,NaN,NaN,0.000000
2005-03-25 22:00:00,2005-03-25T21:00:00,DK2,908.099976,296.979065,NaN,0.000000,5.279539,44.057999,0.008078,62.304375,...,NaN,631.500000,-447.000000,NaN,0.0,1501.229004,0.000000,NaN,NaN,0.000000
2005-03-25 21:00:00,2005-03-25T20:00:00,DK1,1125.400024,833.091309,NaN,0.000000,3.346528,0.000000,0.012367,36.753796,...,991.400024,431.600006,-1245.199951,0.00,0.0,2180.373779,0.000000,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-10 02:00:00,2023-04-10T00:00:00,DK2,542.716430,56.011137,195.179447,4.254726,4.103300,125.771092,0.091373,122.521582,...,NaN,1218.860000,-923.750000,NaN,-199.1,1148.563281,28.741000,13.879016,55.044378,7.319560
2023-04-10 01:00:00,2023-04-09T23:00:00,DK1,295.084760,174.085155,67.325744,11.743112,110.835594,607.133481,3.237114,855.111878,...,828.200000,718.940000,-1641.440000,-464.64,158.6,1726.785529,66.019140,28.708100,73.265991,9.637616
2023-04-10 01:00:00,2023-04-09T23:00:00,DK2,523.548447,56.455218,192.695424,4.105949,5.253700,126.193216,0.078260,121.382998,...,NaN,1252.830000,-945.390000,NaN,-160.8,1179.818996,29.380099,13.627976,55.872573,6.537930
2023-04-10 00:00:00,2023-04-09T22:00:00,DK1,365.348642,184.294252,67.073400,12.139897,108.930271,580.453773,2.587651,872.101825,...,1313.430000,682.060000,-2128.030000,-450.36,150.0,1762.614751,77.556467,26.627500,74.698764,9.421748
2023-04-10 00:00:00,2023-04-09T22:00:00,DK2,577.949918,59.068309,193.441627,4.415682,5.439600,114.727084,0.072489,116.494591,...,NaN,1221.670000,-945.160000,NaN,-152.3,1200.284632,29.300249,13.956008,56.731284,2.712530

Der kan her ses de sidste 5 observationer af det 319726 observationer store dataset, dog er der 2 observationer for hver tidspunkt, dette skyldes at der en observation for hvert elnetværk (DK1 og DK2) Disse kan nu summeres for at få forbrug og produktion for hele danmark for hvert time fra 2005-03-25 23:00:00 til 2023-04-10 00:00:00.